<header class="header">
  <a href="/" class="header__logo"
    ><img src="/img/Mymovielistlogo.png" alt="My Movie List Logo" width=""
  /></a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Główna</a>
      </li>
      <li>
        <a href="/about" class="">O nas</a>
      </li>
      <li>
        <a href="/contact" class="">Kontakt</a>
      </li>
    </ul>
  </nav>
</header>
