<h1>O nas</h1>
<h3>
  Jesteśmy młodym dynamicznym zespołem który się rozwija który chętniej pracuje
  w owocowe czwartki
</h3>
<h4>Aleksandra Mróz - Zawodowa Gamerka</h4>
<h4>Robert Dąbrowski - Fanatyk Wędkarstwa</h4>
<h4>Michał Bujak - Król Komedii</h4>
<h3>Dzięki nam możesz oceniać obejrzane filmy!</h3>
<h3>
  Miej wszystkie swoje recenzje zawsze od ręką - KORZYSTAJ Z MY movie LIST!
</h3>
