<h1>Kontakt z Nami</h1>
<h3>
  Jeśli masz jakiekolwiek pytania, uwagi lub sugestie dotyczące naszego
  projektu, skontaktuj się z nami! Jesteśmy otwarci na wszelkie formy współpracy
  i chętnie odpowiemy na Twoje wiadomości.
</h3>
<h3>
  Adres e-mail:
  <i>spam@mymovielist.com</i>
</h3>
<h5>
  Zastrzegamy sobie prawo do odpowiedzi w przeciągu maksymalnie 36524 dni.
</h5>
