<section class="movies">
  <h2 class="movies__heading">Najpopularniejsze w ostatnim czasie</h2>
  <div id="section"></div>
</section>

<script>
  window.isLoggedIn = "<%= isLoggedIn ? 'true' : 'false' %>";
</script>
<script src="/js/movies.js"></script>
