<!DOCTYPE html>
<html>
  <head>
    <title>Rating Added</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="success-message">
      <h2>Ocena została pomyślnie dodana!</h2>
      <p>
        Dziękujemy za dodanie oceny. Możesz zobaczyć wszystkie
        <a href="/dashboard">ocenione przez Ciebie filmy</a>.
      </p>
    </div>
  </body>
</html>
